/* Mobile first styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    /* Font sizes */
    --fs-1: 15.504px;
    --fs-2: 15px;
    --fs-3: 13.68px;
    --fs-4: 12.768px;
    --fs-5: 12.312px;
    --fs-6: 11.628px;
    --fs-7: 10.944px;
    --h-1: 30px;
    --h-2: 25px;
    --h-3: 20px;
    --h-4: 19.152px;
    /* Colors */
    --yellow: #FFB800;
    --yellow-2: #E5A600;
    --yellow-3: #FFCD4B;
    --white: #FFFFFF;
    --white-2: #F4F5F6;
    --text-color: #000000;
    --dark: #000000;
    --dark-2: #1B1400;
    --dark-3: #433100;
}

.fs-1{font-size: 15.504px;}
.fs-2{font-size: 15px;}
.fs-3{font-size: 13.68px;}
.fs-4{font-size: 12.768px;}
.fs-5{font-size: 12.312px;}
.fs-6{font-size: 11.628px;}
.fs-7{font-size: 10.944px;}
.h-1{
    font-size: 30px;
    line-height: 1.1;
}
.h-2{font-size: 25px;}
.h-3{font-size: 20px;}
.h-4{font-size: 19.152px;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    color: var(--text-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.d-flex{
    display: flex;
    align-items: center;
}

header{
    padding: 1px 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,0.07);
    background-color: var(--yellow);
}

.add-on-cart{
    width: 86.3px;
    height: 51.89px;
    border: 2px solid var(--dark);
    margin-right: 10px;
    /* justify-content: space-between; */
    padding: 5.472px;
}

.cart-price{
    color: var(--dark);
    padding: 8px 5px;
}

.cart-info{
    position:absolute;
    height: 18px;
    width: 18px;
    background-color: var(--dark);
    border-radius: 50%;
    margin-left: 65px;
    text-align: center;
    color: var(--white);
    font-size: var(--fs-3);
}

.nav-toggle button{
    width: 39.13px;
    height: 39.13px;
    border: none;
    border-radius: 2px;
    background-color: var(--dark);
    margin-left: 10px;
}
/*  */
.navbar{
    display: none;
}
.navbar li{
    padding: 8px 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.navbar li a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar li a:hover, footer a:hover, .nav-main a:hover{
    color: var(--yellow-2);
}
.navbar.active{
    display: block;
}
.nav-main{
    display: none;
}

/*  */
.intro{
    background-color: var(--yellow-2);
}
.intro-section{
    /* background: url('pngwing.png'); */
    flex-direction: column;
    padding: 0px 20px 55px 30px;
}
.intro-img{
    margin-top: 20px;
}

.hr{
    height: 3px;
    width: 32.5px;
    background-color: yellow;
    margin-bottom: 28px;
    margin-top: 15px;
}

.link a{
    color: var(--white);
    text-decoration: none;
}

.link{
    color: var(--white);
    justify-content: center;
    width: 187.63px;
    height: 39.69px;
    background-color: var(--dark);
    text-align: center;
    border-radius: 5px;
    gap: 10px;
}
.intro-section .link{
    background-color: var(--text-color);
}


.intro-section .fs-1, .intro-section .h-1{
    margin-bottom: 20px;
}
.intro-section p{
    line-height: 1.8;
    margin-bottom: 35px;
}
.link:hover{
    background-color: var(--yellow-2);
}


.featured-collection{
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
    /* padding-bottom: 25px; */
}
.featured-collection div:first-child{
    margin-bottom: 8px;
    margin-top: 15px;
}
.featured-collection div:last-child{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}


.products{
    flex-wrap: wrap;
    gap: 20px;
}
.product-card{
    width: calc(50% - 10px);
    flex-direction: column;
    margin-bottom: 25px;
    gap: 5px;
}


.offers-banner{
    background: url('https://websitedemos.net/custom-printing-02/wp-content/uploads/sites/459/2020/01/banner-02.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 55% 40%;
    /* background-position: center; */
    padding: 50px 30px 30px;
}

.reviews{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.review-card{
    text-align: left;
    flex-direction: column;
    gap: 15px;
    padding: 26px 22px 26px 29px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #645555;
}
.review-card img{
    height: 60px;
    width: 60px;
}

footer > div{
    padding: 60px 25px;
    background-color: #415161;
}
footer h2{
    margin-bottom: 15px;
    font-weight: lighter;
}
footer div > div{
    margin-bottom: 20px;
}
footer, footer a{
    color: var(--white);
    text-decoration: none;
}
.footer{
    flex-wrap: wrap;
    line-height: 1.8;
    gap: 20px;
}
.socials{
    gap: 10px;
}

/* Star Ratings */
.fa-star{
    color: var(--yellow);
}

/* Search */
.search{
    background-color: var(--text-color);
}
.search-bar{
    padding: 5px;
    justify-content: space-evenly;
}
.search-bar input, .search-bar button{
    padding: 5px 10px;
}
.search-bar input{
    width: 90%;
}
/*  */
.categories img{
    width: 55px;
}
.categories{
    color: var(--white);
    width: 100%;
    justify-content: center;
    gap: 8px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: #232f3e;
    padding: 3px;
}

/* sticky bar */
.sticky-bar{
    justify-content: space-around;
    align-items: center;
    /* height: 50px; */
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
.sticky-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.copyright{
    justify-content: space-between;
}

/* Responsive */
@media only screen and (min-width: 768px) {
    .intro{
        flex-direction: row !important;
        justify-content: flex-end;
    }
    .intro-section{
        padding: 0 20px 55px 5%;
    }
    .intro-img{
        margin: 0;
        width: 500px;
    }
    .search{
        padding: 0 5%;
    }
    .search-bar{
        justify-content: flex-start;
        gap: 10px;
    }
    header {
        padding: 2px 5%;
    }
    .products{
        justify-content: space-around;
    }
    .product-card{
        max-width: 20%;
    }
    .featured-section{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    }
    .offers-banner{
        background-size: 100% auto;
    }
    .footer{
        padding: 60px 5%;
    }
    .footer div:nth-child(2) {
        width: 400px;
    }
    .copyright{
        justify-content: center;
        gap: 20px;
    }
    .reviews{
        flex-wrap: unset;
    }
    .review-card{
        height: 100%;
    }
}

@media only screen and (min-width: 922px) {
    .fs-1{font-size: 17px;}
    .fs-2{font-size: 15px;}
    .fs-3{font-size: 15px;}
    .fs-4{font-size: 14px;}
    .fs-5{font-size: 13.5px;}
    .fs-6{font-size: 12.75px;}
    .fs-7{font-size: 12px;}
    .h-1{
        font-size: 60px;
        line-height: 1.1;
    }
    .h-2{font-size: 34px;}
    .h-3{font-size: 30px;}
    .h-4{font-size: 21px;}

    .sticky-bar{
        display: none;
    }
    .categories{
        display: none;
    }
    
    .site-icon{
        height: 80px !important;
    }
    .add-on-cart{
        width: 108.09px;
        height: 56.05px;
        justify-content: space-evenly;
    }
    .cart-info{
        margin-left: 80px;
    }
    .nav-toggle{
        display: none;
    }
    .search input, .search button{
        height: 50px;
        font-size: large;
    }
    .search button{
        width: fit-content;
    }
    .nav-main, .nav-main ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
        justify-content:end;
    }
    .nav-main a{
        text-decoration: none;
        color: var(--text-color);
    }
    .footer{
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1200px){
    header {
        padding: 5px 12%;
    }
    section{
        padding-left: 12% !important;
        padding-right: 12% !important;
    }

}